@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.category_block {
  margin-top: 40px;
}

.handler {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container_list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.list {
  list-style: none;
  margin-left: 120px;
  display: flex;
  /* justify-content: center; */
  gap: 30px;
}

.active_item {
  cursor: pointer;
  font-family: "Roboto", bold;
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 12px;
  border: solid;
  border-color: aliceblue;
  border-radius: 40px;
  box-shadow: 0 0 7px rgb(216, 3, 145);
}

.item {
  cursor: pointer;
  font-family: "Roboto", bold;
  background-color: rgb(54, 7, 98);
  color: aliceblue;
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 12px;
  border: solid;
  border-color: aliceblue;
  border-radius: 40px;
  box-shadow: 0 0 5px aliceblue;
  transition: 0.1s;
}

.item:hover {
  background-color: aliceblue;
  color: black;
}

.item-sorter {
  cursor: pointer;
  font-family: "Roboto", bold;
  color: aliceblue;
  font-size: 22px;
  width: 250px;
  height: 35px;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  transition: 0.1s;
}

.item-sorter:hover{
  transform: scale(1.05);
  color:rgb(216, 3, 145)
}

.sorting_block {
  height: 200px;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.drop_menu {
  top: 0;
  margin-top: 10px;
  /* background-color: rgb(54, 7, 98); */
  background-image: linear-gradient(to left, rgb(54, 7, 98),rgb(39, 4, 71));
  width:190px;     
  transition:all .7s ease-out;
  border: 1px solid rgb(54, 7, 98);
  border-radius: 16px;
  box-shadow: 0 0 8px rgb(255, 255, 255);
  margin-left: 90px;
  z-index: 15;
}

.sort_list {
  font-family: Roboto, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 1px;
  padding-left: 8px;
  list-style: none;
}

.sort_list_elem {
  cursor: pointer;
}

.sort_list_elem:hover {
  color:rgb(216, 3, 145)
}

